#yellow {
  background-color: yellow;
  width: 100px;
  height: 100px;
}
#red {
  background-color: red;
  width: 100px;
  height: 100px;
}
#blue {
  background-color: blue;
  width: 100px;
  height: 100px;
}
#pink {
  background-color: pink;
  width: 100px;
  height: 100px;
}